{% extends 'base.html.twig' %}

{% block body %}

<div class = 'container'>
    <h1 id = 'titleEspeces'>Mes Espèces répertoriées</h1>
    <div class = 'col-lg-12'>
        {% if birds %}
        {% for bird in birds %}
            {% for birdSolo in bird %}
        <h4>Observation du {{ birdSolo.dateObservation|date('d-m-Y') }}</h4>
                <p>Nom de l'espèce répertoriée : <strong>{{ birdSolo.taxrefVern }}</strong></p>
                <p>Référence TAXREF : {{ birdSolo.taxrefCdName }}</p>
                <p>Classe : {{ birdSolo.taxrefClass }}</p>
                <p>Localisation : <strong>{{ birdSolo.latitude }}</strong> degrés de latitude et <strong>{{ birdSolo.longitude }}</strong> degrés de longitude</p>
                <p>Espèce protégée ? {% if birdSolo.protected == false %} Non {% else %} Oui {% endif %}</p>
                <p>Famille : {{ birdSolo.family }}</p>
                {% if birdSolo.status %}
                    <p>Statut : {{ birdSolo.status }}</p>
                {% endif %}
                <p>Commentaire : {{ birdSolo.comment }}</p>
                <p>Lien vers plus d'informations sur la base nationale INPI : <a href = "{{ birdSolo.taxrefUrlImage }}">Ici ! </a></p>
                <a href = "{{ path('getBirdIdObs',{'id': birdSolo.id }) }}"><button id = 'btnBirdInfos' class = 'btn btn-default'>Voir la fiche détaillée de l'espèce</button></a>
                <hr />
            {% endfor %}
        {% endfor %}
        {% else %}
            <div id = 'addNoObs'>
                <h3 id  = 'titleNoObs' >Pour le moment, vous n'avez apporté aucune observation ! N'hésitez pas à ajouter la première.. :)  </h3>
                <br />
                <a href = "{{ path('addObservation') }}" id ='btnAddNoObs' class="btn btn-default">Ajouter une observation</a>
            </div>
        {% endif %}

        <a id = 'return_Board_Bird' href="{{ path('connexion') }}"> Revenir sur le tableau de bord</a>
    </div>
</div>

{% endblock %}