{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}
    <div class = 'container'>
        <div class = 'col-lg-12'>
            {% if articles or birds %}
                <h1 id = 'titleSearch'>Résultat de votre recherche pour le mot <strong>{{ word }}</strong>!</h1><input id = 'inputWord' type = 'hidden' value = '{{ word }}' />
                {% if articles %}
                    <h3 id = 'titleSearch'>Dans nos articles...</h3>
                {% endif %}
                {% for article in articles %}
                    <strong>{{ article.title }}</strong>
                    <br />
                {{ article.content }}
                    <br />
                    <a href = '{{ path('blog', {'id': article.id }) }}'>Lien vers l'article !</a>
                    <hr />
                {% endfor %}
                {% if birds %}
                    <h3 id = 'titleSearch'>Chez nos oiseaux...</h3>
                {% endif %}
                {% for bird in birds %}
                    <p>Nom de l'espèce répertoriée : <strong>{{ bird.taxrefVern }}</strong></p>
                    <p>Référence TAXREF : {{ bird.taxrefCdName }}</p>
                    <p>Classe : {{ bird.taxrefClass }}</p>
                    <a href = "{{ path('birdInfos',{'id': bird.id }) }}"><button id = 'btnBirdInfos' class = 'btn btn-default'>Voir la fiche détaillée de l'espèce</button></a>
                    <hr />
                {% endfor %}
            {% else %}
                <h1 id = 'titleSearch'>Aucun résultat n'est associé au mot <strong>{{ word }}</strong>!</h1><input id = 'inputWord' type = 'hidden' value = '{{ word }}' />
            {% endif %}
        </div>
    </div>
{% endblock %}