{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.image) }}
    <input class="btn btn-success" type="submit" value="Ajouter" />
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}